<ion-header>
  <ion-toolbar>
    <ion-title>consulterCompte</ion-title>
    <ion-menu-button menu="main-menu" slot="start"></ion-menu-button>
    <!-- <ion-item *ngIf="" lines="none" button (click)="" slot="end"><ion-icon name="log-in-outline"></ion-icon></ion-item> -->
    <!-- <ion-item *ngIf="" lines="none" button (click)="" slot="end"><ion-icon name="log-out-outline"></ion-icon></ion-item> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button (click)="depot()">Dépot</ion-button>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-button (click)="retrait()">Retrait</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
